.card{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

img{
    width: 140px;
    height: 140px;

}
p{
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
   
}
.lesName{
    color: yellow;

}